#cards-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

img {
    max-width: 100%;
    width: 300px;
    height: 300px;
}

.card1-flex {
    width: 50%;
    background-color: black;
    color: white;
}

@media (max-width: 1023px) {
    #cards-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #cards-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.p-rojo {
    background-color: red;
}

.p-azul {
    background-color: blue;
}

.p-verde {
    background-color: green;
}

.p-amarillo {
    background-color: yellow;
}

/* MODIFICACIONES A BOOTSTRAP */
#carouselExampleControls {
    width: 300px;
    margin: 0 auto;
}

/* Media queries clase 12 */
.px {
    font-size: 32px;
}

.rem {
    font-size: 2rem;
}

/* PSEUDO CLASES */
a:hover {
    background-color: aqua;
    padding: 8px;
}

a:link{ 
    text-decoration:none; 
    color:red; 
}

a:visited{ 
    color:#999999; 
}

a:active{ 
    background-color:yellow; 
    color:black; 
}

.card-ejemplo {
    width: 200px;
    height: 300px;
    background-color: yellow;
}

/* Pseudo clase :not */
.card-ejemplo:not(:first-of-type) {
    margin-bottom: 40px;
}

/* First y last child */

.child p:first-of-type {
    color: red;
}

.child p:last-of-type {
    color: blue;
}

.child :nth-of-type(3) {
    background-color: black;
    color: white;
}

/* Odd (impar) y el even (par) */
/* odd = impar */
.par-impar li:nth-child(odd) {
    background-color: red;
    color: yellow;
}

/* Even = par */
.par-impar li:nth-child(even) {
    color: red;
    background-color: yellow;
}

.input-filtro {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.label {
    display: none;
}

#opcion1:checked ~ .label1,
#opcion2:checked ~ .label2,
#opcion3:checked ~ .label3 {
    display: block;
}